/*会员注册样式*/
.register{
    font-size: 22px;
    color: #313131;
    margin-bottom: 10px;
}
.hyzh{
    margin-top: 45px;
    font-size: 12px;
    color: #545454;
}
.reg_btn{
    width: 60px;
    height: 32px;
    line-height: 16px;
    margin-top: 38px;
}


div>input+span{
    color: red;
}

.vali_info{
    display: none;
}
.vali_success,.vali_fail,.vali_rfail{
    background-repeat:no-repeat;
    background-position:left center;

}
/* 验证消息：验证通过时的样式 */
.vali_success{
    background-image:url("../img/ok.png");
    padding-left:20px;
    width:0px;height:20px;
    overflow:hidden;
    position: absolute;
    top: 5px;
    left: 640px;

}
/* 验证消息：验证失败时的样式 */
.vali_fail{
    background-image:url("../img/err.png");
    color:Red;
    padding-left:30px;
}
.vali_rfail{
    background-image:url("../img/err.png");
    color:Red;
    padding-left:30px;
}

.chb+span{
    color: #666666;
    font-size: 14px;
}
.comit{
    width: 200px;
    height: 40px;
    background: #ff9f19;
    color: #ffffff;
    border: none;
}
.copy{
    color: #333333;
    font-size: 14px;
}